.keyboard{
  display: grid;
  grid:
  ' . . . del'
  '. . .  button '
  '. . .  button '
  'zero zero dot  button';
  grid-gap: 10px;

  .button,.num,.zero,.del,.dot{
    background-color: #F7F7F7;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 8px;
  }
  .button{
    grid-area: button;
  }

  .num{
    // grid-area: num;
  }

  .zero{
    grid-area: zero;
  }

  .del{
    grid-area: del;
  }
  .dot{
    grid-area: dot;
  }
}
