//背景颜色
$bgColor:none,#fff,#1890ff,#f0f2f5,#f4f4f4,#f5f5f5, #181818, #ebebeb;
$bgColorName:none,white,blue,gray,f4,f5,18,eb;
//字体颜色
$color:none,#ff4d4f,#999,#666,#333,#1890ff,#CBCBCB,#000000,#333333,#ffffff,#7f7f7f ,#cccccc,#f4f4f4,#b2b2b2,#ef2e23,#181818,#444444,#ededed,#262626,#b9b9b9,#A0A0A0,#8590A6,#707070;
$colorName:none,red,999,666,333,blue,cb,000,333,fff,7f,ccc,f4,b2,ef,18,444,ed,26,b9,A0,859,70;
//内为编辑
$listMarginPadding:0,3,5,8,10,14,15,16,19,20,24,26,25,30, 35,40,42,45,49,50,54,60,85,92,100,150; //margin padding
//内边距
$listPadding:0, 10,11,15, 16, 20 ,30; //padding:vertical horizontal
//元素类型
$display:block,inline,inline-block,flex,none;
//布局
$justifyContent:flex-start , flex-end , center , space-between , space-around;
$alignItems: flex-start , flex-end , center , baseline , stretch;
$flexDirection:row , row-reverse , column , column-reverse;
//定位
$positionlist:relative,absolute,fixed;
$positionlistname:re,ab,fi,;
//文字对齐
$text: center, left, right; //文字状态
//字体大小
$fontsize:10,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,32,34,36,38,52,46;

@each $item in $positionlistname {
    $i:index( $positionlistname,$item);
	.position-#{$item} {
		position: nth($positionlist, $i);
	}
}
/* 块状 */
@each $item in $display {
	.#{$item} {
		display: #{$item}!important;
	}
}
/* {弹性布局 */
// justify-content
@each $item in $justifyContent{
    .jc-#{$item}{
        justify-content: #{$item};
    }
}
//align-items
@each $item in $alignItems{
    .ai-#{$item}{
        align-items: #{$item};
    }
}
//flex-direction
@each $item in $flexDirection{
    .fd-#{$item}{
        flex-direction: #{$item};
    }
}
/* text 文字排版*/
@each $item in $text {
	.text-#{$item} {
		text-align: #{$item};
	}
}
/* 文字颜色*/
@each $item in $colorName {
    $i:index($colorName,$item);
	.col-#{$item} {
		color: nth($color, $i);
	}
}
/* 背景颜色*/
@each $item in $bgColorName {
    $i:index($bgColorName,$item);
	.bg-#{$item} {
		background: nth($bgColor, $i);
	}
}
/* ellipsis 文字超出隐藏 */
.ellipsis-1 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
@for $i from 2 through 5 {
	.ellipsis-#{$i} {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: #{$i};
		overflow: hidden;
	}
}
/* 边距 */
@each $item in $listPadding {
    /* margin 外边距 */
	.mar-#{$item} {
		margin: #{$item*2}px;
    }
    /* padding 内边距*/
    .pad-#{$item} {
		padding: #{$item}px;
	}
}
@each $item in $listMarginPadding {
    /* margin 外边距 */
	.ml-#{$item} {
		margin-left: #{$item*2}px;
	}

	.mr-#{$item} {
		margin-right: #{$item}px;
	}

	.mt-#{$item} {
		margin-top: #{$item}px;
	}

	.mb-#{$item} {
		margin-bottom: #{$item}px;
	}
    /* padding 内边距 */
	.pl-#{$item} {
		padding-left: #{$item}px;
	}

	.pr-#{$item} {
		padding-right: #{$item}px;
	}

	.pt-#{$item} {
		padding-top: #{$item}px;
	}

	.pb-#{$item} {
		padding-bottom: #{$item}px;
	}
}
/* 字体大小 */
@each $item in $fontsize {
	.fontsize-#{$item} {
		font-size: #{$item*2}px;
    }
}
/* 删除线 */
.dellin{
	text-decoration:line-through;
}
.white_nowrap{
	white-space:nowrap;
}
.word-break{
	word-break:break-all
}
/* 透明度 */
.opacity0{
	opacity: 0;
}
/* 浮动 */
.fr{
	float: right;
}
.fl{
	float: left;
}
/* 鼠标 */
.pointer{
	cursor: pointer;
}
.small-font8{display: block;-webkit-transform: scale(0.6666);transform: scale(0.6666);}
.center-x{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.center-y{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.center-pos{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.clearfix:after{
  /*添加一个内容*/
  content:"";
  /*转化为一个块元素*/
  display:block;
  /*清除两侧的浮动*/
  clear:both;
}

.split{
  width: 100%;
  height: 0.5px;
  background-color: #e0e7eb;
  opacity: 0.5;
  margin: 10px 0px;
}

.m30{
  margin-left: 30px;
  margin-right: 30px;
}


/*
  turn : 定义的动画名称
  1s : 动画时间
  linear : 动画以何种运行轨迹完成一个周期
  infinite :规定动画应该无限次播放
 */
@keyframes turn{
  0%{-webkit-transform:rotate(0deg);}
  25%{-webkit-transform:rotate(90deg);}
  50%{-webkit-transform:rotate(180deg);}
  75%{-webkit-transform:rotate(270deg);}
  100%{-webkit-transform:rotate(360deg);}
}


