@font-face {font-family:"Alibaba PuHuiTi Medium";src: url("https://oss.emakerzone.com/tips/Alibaba-PuHuiTi-Medium.otf");font-display: swap;}
@font-face {font-family:"Alibaba PuHuiTi";src: url("https://oss.emakerzone.com/tips/Alibaba-PuHuiTi-Regular.otf");font-display: swap;}
.anim_medium{font-family: "Alibaba PuHuiTi Medium";}
.anim_regular{font-family: "Alibaba PuHuiTi";}
