@font-face {
  font-family: "iconfont"; /* Project id 3315844 */
  src: url('//at.alicdn.com/t/font_3315844_jqpl1ccmux.woff2?t=1649512283314') format('woff2'),
       url('//at.alicdn.com/t/font_3315844_jqpl1ccmux.woff?t=1649512283314') format('woff'),
       url('//at.alicdn.com/t/font_3315844_jqpl1ccmux.ttf?t=1649512283314') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wirt:before {
  content: "\e706";
}

.icon-business:before {
  content: "\e76f";
}

.icon-bonus:before {
  content: "\e770";
}

.icon-clothes:before {
  content: "\e771";
}

.icon-daily:before {
  content: "\e772";
}

.icon-food:before {
  content: "\e773";
}

.icon-donate:before {
  content: "\e774";
}

.icon-houserent:before {
  content: "\e775";
}

.icon-intrest:before {
  content: "\e776";
}

.icon-fuel:before {
  content: "\e777";
}

.icon-entertainment:before {
  content: "\e778";
}

.icon-other:before {
  content: "\e779";
}

.icon-medicine:before {
  content: "\e77a";
}

.icon-salary:before {
  content: "\e77b";
}

.icon-makeup:before {
  content: "\e77c";
}

.icon-shopping:before {
  content: "\e77d";
}

.icon-study:before {
  content: "\e77e";
}

.icon-phone:before {
  content: "\e77f";
}

.icon-tour:before {
  content: "\e780";
}

.icon-smoke_wine:before {
  content: "\e781";
}

.icon-traffic:before {
  content: "\e782";
}

.icon-winning:before {
  content: "\e783";
}

.icon-investment:before {
  content: "\e784";
}
