.home{
  background-color: #f7f7f7;
  z-index: 0;
  overflow: hidden;
}
.statistics{
  position: fixed;
  width: 100%;
  background-color: #1c9048;
  padding-top: calc(120px + env(safe-area-inset-bottom));
  z-index: 0;
}
.filter{
  color: #fff;
  font-family: Alibaba PuHuiTi;
  width: 100%;
  background-color: #1c9048;
  position: fixed;
  top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  box-sizing: border-box;
  z-index: 3;
  .time{
    align-self: flex-end;
  }

  .type{
    display: inline-block;
    background-color: rgba(#cfd9df, 0.5);
    padding: 8px 20px;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    align-self: flex-end;

    .txt{
      font-size: 26px;
    }
  }
}


.container{
  position: relative;
  height: 100vh;
  width: 100%;
  top: 80px;
  z-index: 2;
  box-shadow: 1px 1px 10px #cfd9df;
  font-family: Alibaba PuHuiTi;
  // padding: 30px 30px;
  box-sizing: border-box;

  .summarize{
    width: 690px;
    height: 200px;
    background-color: #fff;
    // box-shadow: 1px 1px 10px #cfd9df;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;

    .count-item{
      text-align: left;
      width: 300px;

      .amount{
        display: block;
        font-family: Alibaba PuHuiTi Medium;
      }

      .txt{
        font-size: 26px;
        color: #cfd9df;
      }
    }

    .more{
      color: #b2b2b2;
    }
  }

}
