.addBtn {
  position: fixed;
  bottom: calc(140px + env(safe-area-inset-bottom));
  right: 30px;
  z-index: 9;
}


.popup {
  height: 80vh;
  border-radius: 20px 20px 0px 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid red;
  z-index: 80;
}

.drawer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 79;

}
.container{
  box-sizing: border-box;
  padding-bottom: calc(safa-area-inser-bottom);

  .amountBox{
    position: relative;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    @extend .pn30;

    .amountTxt{
      font-size: 60px;
    }

    &::after{
      position: absolute;
      content: '';
      display: block;
      height: 1px;
      width: 690px;
      background-color: #cfd9df;
      bottom: -10px;
    }
    .unit{
      font-size: 60px;
      font-weight: 600;
      color: #333;
    }

    .focus{
      color: #333;
      font-weight: 500;
      animation: buling 1s infinite;
    }
  }

  .swiperItem{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 50% 50%;
    grid-column-gap: 20px;
    @extend .pn30;
    box-sizing: border-box;
  }
  .classify{
    .tagBox{
      align-self: center;
      width: 100px;
      text-align: center;
      .icon{
        height: 80px;
        width: 80px;
        line-height: 80px;
        border-radius: 20px;
        margin: 0 auto;
        text-align: center;
        background-color: #F7F7F7;
        align-self: center;
      }
      .name{
        font-size: 26px;
        color: #333333;
      }
    }
  }

  .memoPic{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    @extend .pn30;

    .date,.tag,.pic,.memo{
      background-color: #F7F7F7;
      line-height: 60px;
      height: 60px;
      width: fit-content;
      padding: 0 20px;
      margin-left: 20px;
      border-radius: 8px;

    }
    .memo{
      margin-left: 0px;
      width: 300px;
      font-size: 30px;
      color: #cfd9df;
      @extend .ellipsis-1;
    }
  }
}

@keyframes buling{
  from {opacity:1}
  to {opacity:0.1}
}


.memoPopup{
  padding: 20px 30px;
  textarea{
    background:#F7F7F7;
    width: 100%;
    height: 150px;
    border-radius:5px;
  }
}
